*:focus {
    outline: none;
}

body {
    background-color: #cf8344;
    border-radius: 100%;
    animation-name: bodyChange;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

body, button {
    text-shadow: 2px 2px 8px #cf8344;
}

header {
    color: white;
    text-align: center;
    font-family: 'Cinzel Decorative', sans-serif;
    margin-bottom: 8%;
    font-size: 2em;
}

img {
    display: none;
    z-index: -999;
}

button {
    border: 3px solid #cf8344;
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: auto;
    background-color: #cf8344;
    color: #ffffff;
    transition: background-color 0.5s ease,
                border-color 0.5s ease;
   
}

button:hover {
    cursor: pointer;
    background-color: #ea524f;
    border: 3px solid #cf8344; 
}

#clock span {
    float: left;
    text-align: center;
    margin: 0 2.5%;
    padding: 20px;
    width: 20%;
    box-sizing: border-box;
    color: white;
    font-family: 'Mountains of Shivratri', sans-serif;
    font-size: 50px;
}

#counter span {
    background-color: #000000;
    border-radius: 100%;
    animation-name: colorChange;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    border: 3px solid white;
    
}

#counter span, button {
    box-shadow: 4px 4px 15px #000000;
}

#counter span:nth-child(odd) {
    animation-name: bwColorChange;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
} 

@keyframes bodyChange {
  0%, 100% {
    background-color: #cf8344;
   
  }
  50% {
  background-color: #ea524f;  
  }
}

@keyframes colorChange {
    0%, 100% {
        background-color: #cf8344;
        border-color: #ea524f;
    }
    50% {
        background-color: #ea524f;
        border-color: #cf8344;
    }
}

@keyframes bwColorChange {
  0%, 100% {
        background-color: #ea524f;
        border-color: #cf8344;
  }
  50% {
    background-color: #cf8344;
    border-color: #ea524f;
  }
}

